{% extends "base.html" %}
{% block styles %}
  {{ super() }}
  <link rel="stylesheet" href="{{ SITEURL }}/css/lightbox.css">
{% endblock %}

{% block content %}
<div class="container">
  <h1 class="text-center">My Photo Gallery</h1>
  <div class="row">
    {% for image in ['img1.jpg', 'img2.jpg', 'img3.jpg'] %}
      <div class="col-sm-6 col-md-4 mb-4">
        <a href="{{ SITEURL }}/images/{{ image }}" data-lightbox="gallery">
          <img src="{{ SITEURL }}/images/{{ image }}" class="img-responsive img-thumbnail" alt="">
        </a>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script src="{{ SITEURL }}/js/lightbox.js"></script>
{% endblock %}